<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery-customselect.js"></script>
    <link href="~/Content/jquery-customselect.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(InterneraStore.Resources.Resource.Home, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(InterneraStore.Resources.Resource.Companies, "Index", "Companies")</li>
                    <li>@Html.ActionLink(InterneraStore.Resources.Resource.Products, "Index", "Products")</li>
                    <li>@Html.ActionLink(InterneraStore.Resources.Resource.Purchases, "Index", "Purchases")</li>
                    <li>@Html.ActionLink(InterneraStore.Resources.Resource.Customers, "Index", "Customers")</li>
                    <li>@Html.ActionLink(InterneraStore.Resources.Resource.Sellers, "Index", "Sellers")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @InterneraStore.Resources.Resource.Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item">@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en", @class = "dropdown-item" }, null)</div>
                            <div class="dropdown-item">@Html.ActionLink("Русский", "Change", "Language", new { LanguageAbbrevation = "ru", @class = "dropdown-item" },null)</div>
                        </div>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Internera</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
