@model InterneraStore.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>@InterneraStore.Resources.Resource.Delete</h2>

<h3>@InterneraStore.Resources.Resource.DeleteConfirmation</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @InterneraStore.Resources.Resource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink(InterneraStore.Resources.Resource.BackLink, "Index")
    </div>
    }
</div>
