@model InterneraStore.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>@InterneraStore.Resources.Resource.Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @InterneraStore.Resources.Resource.Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(InterneraStore.Resources.Resource.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(InterneraStore.Resources.Resource.BackLink, "Index")
</p>
